<li class="attribute defense">
	<h4 class="attribute-name box-title">{{ localize "T20.Defense"}}</h4>
	<div class="attribute-value">
		{{#if (or isSimple isVehicle)}}
		<input type="number" data-dtype="Number" name="system.attributes.defesa.base" value="{{system.attributes.defesa.base}}" title="{{localize 'T20.Defense'}}">
		{{else}}
		<h1 style="height:auto">{{system.attributes.defesa.value}}</h1>
		{{/if}}
		<div class="property-attribution tooltip"></div>
	</div>
	{{#if (or isNPC isCharacter)}}
	<footer class="attribute-footer">
		<div class="flexrow">
			{{#if isNPC}}
			<input type="number" data-dtype="Number" placeholder="0" name="system.attributes.defesa.base" value="{{system.attributes.defesa.base}}" title="{{localize 'T20.BaseDefense'}}">
			{{else if isCharacter}}
			<select name="system.attributes.defesa.atributo" value="{{system.attributes.defesa.atributo}}" title="{{ localize 'T20.AbilityBonus'}}">
				{{#select system.attributes.defesa.atributo}}
				<option value=""></option>
				{{#each config.atributosAbr as |name abl|}}
				<option value="{{abl}}">{{localize name}}</option>
				{{/each}}
				{{/select}}
			</select>
			<input type="number" data-dtype="Number" placeholder="0" name="system.attributes.defesa.outros" value="{{system.attributes.defesa.outros}}" title="{{localize 'T20.Other'}}">
			{{/if}}
		</div>
	</footer>
	{{/if}}
</li>
