<ol class="item-list">
	<li class="item flexrow item-header">
		<div class="item-name flex2">{{ localize 'T20.Equipment'}}</div>
		<div class="item-def" data-tooltip="{{ localize 'T20.Defense'}} / {{ localize 'T20.ArmorPenalty'}}"><i class="fa-solid fa-shield"></i> / <i class="fa-solid fa-person-hiking"></i></div>
		<div class="item-qty">{{ localize 'T20.QuantityAbbr' }}</div>
		<div class="item-weight">{{localize 'T20.SlotsAbbr'}}</div>
		<div class="item-controls">
			<a class="item-control item-create" title="{{localize 'T20.Add'}} {{localize 'T20.Equipment'}}" data-type="equipamento"><i class="fas fa-plus"></i> {{localize 'T20.Add'}}</a>
		</div>
	</li>
	{{#each actor.inventario.equipamento.items as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<div class="item-name flex2 flexrow rollable edit-favoritos">
				<div class="item-image" style="background-image: url('{{item.img}}')"></div>
				<label>{{item.name}}</label>
			</div>
			<div class="item-def">
				{{numberFormat item.system.armadura.value sign=true}} / {{item.system.armadura.penalidade}}
			</div>
			<div class="item-qty">
				{{#if ../owner}}
				<input type="text" data-dtype="Number" placeholder="0" classe="item-qty" value="{{item.system.qtd}}">
				{{else}}
					{{item.system.qtd}}
				{{/if}}
			</div>
			<div class="item-weight">{{item.espacosTotal}}</div>
			<div class="item-controls">
				{{#if @root.isCharacter }}
				<a class="item-control item-toggle toggle-armor{{#if item.system.equipado}} active{{/if}}" title="{{#if item.system.equipado}}{{localize 'T20.Unequip'}}{{else}}{{localize 'T20.Equip'}}{{/if}}"><i class="fas fa-shield-alt"></i></a>
				{{/if}}
				<a class="item-control item-edit" title="{{localize 'T20.Edit'}}"><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" title="{{localize 'T20.Delete'}}"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}
</ol>