<ol class="item-list">
	<li class="item flexrow item-header">
		<div class="item-name flex2" >{{ localize 'T20.Weapons'}}</div>
		<div class="item-rolls flex2">{{ localize 'T20.Attack'}} ({{ localize 'T20.Damage'}}, {{ localize 'T20.Critical'}})</div>
		<div class="item-qty">{{ localize 'T20.QuantityAbbr' }}</div>
		<div class="item-weight">{{localize 'T20.SlotsAbbr'}}</div>
		<div class="item-controls"><a class="item-control item-create" title="{{localize 'T20.Add'}} {{localize 'T20.Weapon'}}" data-type="arma"><i class="fas fa-plus"></i> {{localize 'T20.Add'}}</a></div>
	</li>
	{{#each actor.inventario.arma.items as |item id|}}
	<li class="item flexrow" data-item-id="{{item._id}}">
		<div class="item-name flexrow rollable flex2">
			<div class="item-image" tabindex="0" role="button" aria-label="{{item.name}}" style="background-image: url('{{item.img}}')"></div>
			<label>{{item.name}}</label>
		</div>
		
		<div class="item-rolls flex2">
			{{item.labels.toHit}} ({{item.labels.dano}}, {{item.labels.critico}})
		</div>
		
		<div class="item-qty">
			{{#if ../owner}}
			<input type="text" data-dtype="Number" placeholder="0" classe="item-qty" value="{{item.system.qtd}}">
			{{else}}
				{{item.system.qtd}}
			{{/if}}
		</div>
		<div class="item-weight">{{item.espacosTotal}}</div>
		<div class="item-controls">
			<a class="item-control item-toggle toggle-weapon{{#if item.system.equipado}} active{{/if}}" title="{{#if item.system.equipado}}{{localize 'T20.Unequip'}}{{else}}{{localize 'T20.Equip'}}{{/if}}">{{#if item.system.equipado}}{{item.system.equipado}}{{/if}}<i class="fa-solid fa-hand-back-fist"></i></a>
			{{#if (eq ../layout "tabbed")}}
			<a class="item-control item-fav" title="{{#if item.flags.favorito}}{{localize 'T20.Favorite'}}{{else}}{{localize 'T20.Unfavorite'}}{{/if}}" >
				<i class="{{#if item.flags.favorito}}fas{{else}}far{{/if}} fa-star" ></i>
			</a>
			{{/if}}
			<a class="item-control item-edit" title="{{localize 'T20.Edit'}}"><i class="fas fa-edit"></i></a>
			<a class="item-control item-delete" title="{{localize 'T20.Delete'}}"><i class="fas fa-trash"></i></a>
		</div>
	</li>
	{{/each}}
</ol>