<ul class="item-list">
	{{#unless isSimple}}
	<li class="item flexrow item-header flex-center">{{localize "T20.Inventory"}}</li>
	{{/unless}}
	<ol class="item-list">
		<li class="item flexrow item-header">
			<div class="item-name flex2">{{ localize 'T20.Name' }}</div>
			<div class="item-qty">{{ localize 'T20.QuantityAbbr' }}</div>
			<div class="item-weight">{{localize 'T20.SlotsAbbr'}}</div>
			<div class="item-controls"></div>
		</li>
		{{#each actor.inventario.itens.items as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<div class="item-name flexrow rollable flex2">
				<div class="item-image" style="background-image: url('{{item.img}}')"></div>
				<label>{{item.name}}</label>
			</h4>
			</div>
			<div class="item-qty">
				<input type="text" data-dtype="Number" placeholder="0" classe="item-qtd" value="{{item.system.qtd}}">
			</div>
			<div class="item-weight">{{item.espacosTotal}}</div>
			<div class="item-controls">
				{{#if (eq ../layout "tabbed")}}
				<a class="item-control item-fav" title="{{#if item.flags.favorito}}{{localize 'T20.Favorite'}}{{else}}{{localize 'T20.Unfavorite'}}{{/if}}" >
					<i class="{{#if item.flags.favorito}}fas{{else}}far{{/if}} fa-star" ></i>
				</a>
				{{/if}}
				<a class="item-control item-edit" title="{{localize 'T20.Edit'}}"><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" title="{{localize 'T20.Delete'}}"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}
		<li class="item flexrow item-header">
			<div class="item-controls">
				<a class="item-control item-create" title="{{localize 'T20.Add'}} {{localize 'T20.Consumable'}}" data-type="consumivel"><i class="fas fa-plus"></i> {{localize 'T20.Consumable'}}</a>
				<a class="item-control item-create" title="{{localize 'T20.Add'}} {{localize 'T20.Treasure'}}" data-type="tesouro"><i class="fas fa-plus"></i> {{localize 'T20.Treasure'}}</a>
			</div>
		</li>
	</ol>
</ul>