<li class="attribute health flexcol">
	<h4 class="attribute-name box-title">{{ localize 'T20.HitPoints'}}</h4>
	<div class="attribute-value multiple flexrow">
		<input type="number" data-dtype="Number" placeholder="0" name="system.attributes.pv.value" value="{{system.attributes.pv.value}}" max="{{system.attributes.pv.max}}">
		<span class="sep">/</span>
		<input {{#if isCharacter}}disabled{{/if}} type="number" placeholder="0" name="system.attributes.pv.max" value="{{system.attributes.pv.max}}">
	</div>
	<footer class="attribute-footer">
		<input type="number" data-dtype="Number" placeholder="0" name="system.attributes.pv.temp" value="{{system.attributes.pv.temp}}" title="{{ localize 'T20.HealingTemp'}}">
	</footer>
</li>
<li class="attribute mana flexcol">
	<h4 class="attribute-name box-title">{{ localize 'T20.ManaPoints'}}</h4>
	<div class="attribute-value multiple flexrow">
		<input type="number" data-dtype="Number" placeholder="0" name="system.attributes.pm.value" value="{{system.attributes.pm.value}}" max="{{system.attributes.pm.max}}">
		<span class="sep">/</span>
		<input {{#if isCharacter}}disabled{{/if}} type="number" placeholder="0" name="system.attributes.pm.max" value="{{system.attributes.pm.max}}">
	</div>
	<footer class="attribute-footer">
		<input type="number" data-dtype="Number" placeholder="0" name="system.attributes.pm.temp" value="{{system.attributes.pm.temp}}" title="{{ localize 'T20.ManaTemp'}}">
	</footer>
</li>
