<form class="tormenta20 base" autocomplete="off">
	{{!-- Sheet Tab Navigation --}}
	{{> "systems/tormenta20/templates/partials/nav-bar.html"}}
	

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Attributes Tab --}}
		<div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

			{{!-- Sheet Header --}}
			{{> "systems/tormenta20/templates/actor/parts/sheet-header-base.html"}}

			<div class="attributes-left flexcol">
				{{!-- Abilities --}}
				{{> "systems/tormenta20/templates/actor/parts/abilities.html"}}
				
				{{!-- HP/MP Resources --}}
				<div class="resources-main">
					<ul class="attributes flexrow">
					{{> "systems/tormenta20/templates/actor/parts/resources.html"}}
					</ul>
				</div>
				
				{{!-- Extra Resources --}}
				{{#if (or system.resources.shadow system.resources.shadow ) }}
				<div class="resource">
					{{> "systems/tormenta20/templates/actor/parts/resources-extra.html"}}
				</div>
				{{/if}}

				{{!-- Inventory Weapons --}}
				<div class="inventory-weapons">
					{{> "systems/tormenta20/templates/actor/parts/list-weapon.html"}}
				</div>

				{{!-- Defense Inventory Equipment --}}
				<div class="inventory-equipment flexrow">
					<ul class="attributes flexrow">
					{{> "systems/tormenta20/templates/actor/parts/defense.html"}}
					</ul>
					{{> "systems/tormenta20/templates/actor/parts/list-equipment.html"}}
				</div>

				{{!--Powers --}}
				<div class="list-powers">
					{{> "systems/tormenta20/templates/actor/parts/list-powers.html"}}
				</div>

				{{!-- Spells --}}
				<div class="list-spells">
					{{> "systems/tormenta20/templates/actor/parts/list-spells.html"}}
				</div>

				{{!-- Traits --}}
				<div class="traits">
					{{> "systems/tormenta20/templates/actor/parts/traits.html"}}
					<textarea name="system.detalhes.info" rows="10">{{system.detalhes.info}}</textarea>
				</div>
			</div>
			<div class="attributes-right flexcol">
				{{!-- Skills --}}
				{{> "systems/tormenta20/templates/actor/parts/list-skills.html"}}

				{{!-- Inventory General --}}
				<div class="inventory-list">
					{{> "systems/tormenta20/templates/actor/parts/list-general.html"}}
					{{> "systems/tormenta20/templates/actor/parts/currency.html"}}
					{{> "systems/tormenta20/templates/actor/parts/encumbrance.html"}}
				</div>
			</div>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab journal flexrow flex-between" data-group="primary" data-tab="journal">
			{{> "systems/tormenta20/templates/actor/parts/journal.html"}}
		</div>

		{{!-- Modifiers Tab --}}
		<div class="tab modifiers" data-group="primary" data-tab="modifiers">
			{{> "systems/tormenta20/templates/actor/parts/modifiers.html"}}
		</div>

		{{!-- Efeitos Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/tormenta20/templates/partials/active-effects.html"}}
		</div>
	</section>
</form>