<form class="tormenta20 npc" autocomplete="off">
	{{#if (eq documentName 'Actor' ) }}
	{{else if (eq documentName 'Item' ) }}
	{{else if (eq documentName 'ActiveEffect' ) }}
	{{/if}}
	
	{{!-- Sheet Tab Navigation --}}
	{{> "systems/tormenta20/templates/partials/nav-bar.html"}}

	{{!-- Sheet Body --}}
	<section class="sheet-body primary">

		{{!-- Statblock Tab --}}
		<div class="tab statblock flexcol " data-group="primary" data-tab="statblock">
			{{> "systems/tormenta20/templates/actor/parts/statblock.html"}}
		</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes flexcol " data-group="primary" data-tab="attributes">
			<!-- <a class="toggleNPCSheet" style="align-self: center;flex:0 0 30px">Seguir o Guia de Construção de Ameaças <i class="fa-solid fa-arrow-up-right-from-square"></i></a> -->
			
			{{!-- Sheet Header --}}
			{{> "systems/tormenta20/templates/actor/parts/sheet-header-npc.html"}}
			<nav class="sheet-tabs tabs secondary" data-group="secondary">
				<a class="item" data-tab="sheet"><i class="fa-solid fa-diagram-project"></i> {{localize "T20.Attributes"}}</a>
				<a class="item" data-tab="skills"><i class="fa-solid fa-person-running"></i> {{localize "T20.Skills"}}</a>
				<a class="item" data-tab="inventory"><i class="fa-solid fa-suitcase-rolling"></i> {{localize "T20.Inventory"}}</a>
				<a class="item" data-tab="powers"><i class="fa-solid fa-bolt"></i> {{localize "T20.Powers"}}</a>
				<a class="item" data-tab="spells"><i class="fa-solid fa-hurricane"></i> {{localize "T20.Spells"}}</a>
			</nav>

			<section class="sheet-body secondary">
				<div class="tab sheet" data-group="secondary" data-tab="sheet">
					{{> "systems/tormenta20/templates/actor/parts/abilities.html"}}
					{{!-- Header Attributes --}}
					<ul class="attributes flexrow">
						{{!-- HP/MP Resources --}}
						{{> "systems/tormenta20/templates/actor/parts/resources.html"}}
						{{!-- Defense --}}
						{{> "systems/tormenta20/templates/actor/parts/defense.html"}}
					</ul>
					<div class="traits">
						{{> "systems/tormenta20/templates/actor/parts/traits.html"}}
					</div>
					<div class="traits">
						<label>Linhas descritivas</label><br>
						<div class="form">
							<label>{{localize 'T20.DifficultClass'}} ({{localize 'T20.AbbreviationDC'}})</label>
							<input type="number" name="system.attributes.cd" value="{{system.attributes.cd}}"/>
						</div>
						<label>{{localize 'T20.Resistances'}}</label>
						<input type="text" name="system.detalhes.resistencias" value="{{system.detalhes.resistencias}}" placeholder="{{localize 'T20.Resistances'}}"/>
						<label>{{localize 'T20.Equipments'}}</label>
						<input type="text" name="system.detalhes.equipamento" value="{{system.detalhes.equipamento}}" placeholder="{{localize 'T20.Equipments'}}"/>
						<label>{{localize 'T20.Treasure'}}</label>
						<input type="text" name="system.detalhes.tesouro" value="{{system.detalhes.tesouro}}" placeholder="{{localize 'T20.Treasure'}}"/>
					</div>
				</div>
				<div class="tab skills" data-group="secondary" data-tab="skills">
					{{> "systems/tormenta20/templates/actor/parts/list-skills.html"}}
				</div>
				<div class="tab inventory" data-group="secondary" data-tab="inventory">
					<div class="inventory-list">
						{{> "systems/tormenta20/templates/actor/parts/list-weapon.html"}}
						{{> "systems/tormenta20/templates/actor/parts/list-equipment.html"}}
						{{> "systems/tormenta20/templates/actor/parts/list-consumable.html"}}
						{{> "systems/tormenta20/templates/actor/parts/list-loot.html"}}
						{{> "systems/tormenta20/templates/actor/parts/currency.html"}}
						{{> "systems/tormenta20/templates/actor/parts/encumbrance.html"}}
					</div>
				</div>
				<div class="tab powers" data-group="secondary" data-tab="powers">
					{{> "systems/tormenta20/templates/actor/parts/list-powers.html"}}
				</div>
				<div class="tab spells" data-group="secondary" data-tab="spells">
					{{> "systems/tormenta20/templates/actor/parts/list-spells.html"}}
				</div>
			</section>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab journal flexcol " data-group="primary" data-tab="journal">
			<div style="max-width: 220px;">
				<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200"
				width="200" />
			</div>
	
			{{editor system.detalhes.biography.value target="system.detalhes.biography.value" button=true owner=owner editable=editable}}
		</div>
	
		{{!-- Modifiers Tab --}}
		<div class="tab modifiers" data-group="primary" data-tab="modifiers">
			{{> "systems/tormenta20/templates/actor/parts/modifiers.html"}}
		</div>
		{{!-- Effects Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/tormenta20/templates/partials/active-effects.html"}}
		</div>
	</section>
</form>