<form class="tormenta20 simple" autocomplete="off">
	{{!-- Sheet Tab Navigation --}}
	{{> "systems/tormenta20/templates/partials/nav-bar.html"}}
	
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Attributes Tab --}}
		<div class="tab attributes active" data-group="primary" data-tab="attributes">
			{{!-- Sheet Header --}}
			{{> "systems/tormenta20/templates/actor/parts/sheet-header-simple.html"}}
			
			
			<div class="inventory-list">
				{{> "systems/tormenta20/templates/actor/parts/list-powers.html"}}
				{{#if actor.maiorCirculo }}
				{{> "systems/tormenta20/templates/actor/parts/list-spells.html"}}
				{{/if}}
				{{> "systems/tormenta20/templates/actor/parts/list-general.html"}}
				{{> "systems/tormenta20/templates/actor/parts/currency.html"}}
				{{> "systems/tormenta20/templates/actor/parts/encumbrance.html"}}
			</div>
		</div>
		{{!-- Biography Tab --}}
		<div class="tab journal flexcol " data-group="primary" data-tab="journal">
			{{editor system.detalhes.biography.value target="system.detalhes.biography.value" button=true owner=owner editable=editable}}
		</div>

		{{!-- Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/tormenta20/templates/partials/active-effects.html"}}
		</div>
	</section>
</form>

<style>
	.sheet-body {
		overflow-y: auto;
		height: calc(100% - 42px);
	}
</style>