<form class="tormenta20 simple" autocomplete="off">
	{{!-- Sheet Tab Navigation --}}
	{{> "systems/tormenta20/templates/partials/nav-bar.html"}}

	
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Sheet Header --}}
		{{> "systems/tormenta20/templates/actor/parts/sheet-header-simple.html"}}

		{{!-- Attributes Tab --}}
		<div class="tab attributes active" data-group="primary" data-tab="attributes">
			{{!-- Header Attributes --}}
			<ul class="attributes flexrow">
				{{!-- HP/MP Resources --}}
				{{> "systems/tormenta20/templates/actor/parts/resources.html"}}
				{{!-- Defense --}}
				{{> "systems/tormenta20/templates/actor/parts/defense.html"}}
			</ul>
			<div class="traits">
				{{> "systems/tormenta20/templates/actor/parts/traits.html"}}
			</div>
			<div class="inventory-list">
				{{> "systems/tormenta20/templates/actor/parts/list-weapon.html"}}
				{{> "systems/tormenta20/templates/actor/parts/list-equipment.html"}}
				{{> "systems/tormenta20/templates/actor/parts/list-powers.html"}}
				{{> "systems/tormenta20/templates/actor/parts/list-spells.html"}}
				{{> "systems/tormenta20/templates/actor/parts/list-equipment.html"}}
				{{> "systems/tormenta20/templates/actor/parts/list-consumable.html"}}
				{{> "systems/tormenta20/templates/actor/parts/list-loot.html"}}
				{{> "systems/tormenta20/templates/actor/parts/currency.html"}}
				{{> "systems/tormenta20/templates/actor/parts/encumbrance.html"}}
			</div>
		</div>
		{{!-- Biography Tab --}}
		<div class="tab journal flexcol " data-group="primary" data-tab="journal">
			{{editor system.biography.value target="system.biography.value" button=true owner=owner editable=editable}}
		</div>

	</section>
</form>