<div class="tormenta20 chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item._id}}">
	<header class="card-header flexrow">
		{{#if item.img}}
			<img src="{{item.img}}" title="{{item.name}}" width="36" height="36" style="flex:0" />
		{{/if}}
		<h3 class="item-name">
			<div>{{item.name}}</div>
		</h3>
		{{#if custo}}
			<span class="custo" style="float: right;">
				<div class="mana-cost" style="display: none;">{{custo}}</div>
				<div>{{{custo}}} <br> PM</div>
			</span>
		{{/if}}
		{{#if truque}}
			<span class="custo" style="float: right;">
				<div><i>Truque</i></div>
			</span>
		{{/if}}
	</header>

	{{#if (eq item.type "magia")}}
		<div class="spellheader" style="display:block;width:100%; flex: unset">
			<h4>{{labels.tipo}}<i> </i>{{labels.nivel}}<i> </i>{{labels.escola}}</h4>
			<p>{{{labels.header}}}</p>
		</div>
	{{/if}}

	{{#if power}}
		<div class="spellheader" style="display:block;width:100%; flex: unset">
			<p>
				{{~#if power.resistencia}}<b> Resistência:</b> {{{power.resistencia}}} (CD {{{power.cd}}}){{~/if}}
			</p>
		</div>
	{{/if}}


	<div class="card-content">
		{{#if system.description.value}} {{{system.description.value}}} {{/if}}
	</div>
	{{#if aprimoramentos}}
		<div class="spellheader" style="display:block;width:100%; flex: unset">
			<ul>
				{{#each aprimoramentos as |ap|}}
					<li>
						<div class="row">
							<b>
								{{#if (eq ap.custo "Truque")}}
									Truque:
								{{else if (ne ap.custo "0")}}
									{{#if (gt ap.custo 0)}}+{{/if}}{{ap.custo}}PM:
										{{#if (gt ap.qtd 1)}}
											({{ap.qtd}}x)
										{{/if}}
									{{/if}}
							</b>
							{{{ap.description}}}
						</div>
					</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}


	{{#each _rolls as |r id|}}
		<div class="row">{{r.roll.options.title}}</div>
		<div class="roll {{r.roll.tipo}}">{{{r.template}}}</div>
	{{/each}}

	<div id="aditionalbutton"></div>
	{{#if effects}}
		<div id="activeEffectsbuttons">
			{{#each effects as |ef i|}}
				<button class="apply-button-ef" value="{{i}}" data-effect-index="{{i}}">{{{ef.label}}}</button>
			{{/each}}
		</div>
	{{/if}}

	{{#if placeTemplate}}
		<div id="placeTemplate">
			<button  class="placeTemplate">Colocar Área de Efeito</button>
		</div>
	{{/if}}
</div>