<form class="" autocomplete="off" onsubmit="event.preventDefault();">
	<h2>{{ localize 'T20.Classes'}}</h2>
	<ol class="trait-list">
		<li class="flexrow">
			<div style="font-weight: bold;">{{ localize 'T20.Class'}}</div>
			<div style="font-weight: bold; text-align:center">{{ localize 'T20.HPPerLevel'}}</div>
			<div style="font-weight: bold; text-align:center">{{ localize 'T20.HPTotal'}}</div>
			<div style="font-weight: bold; text-align:center">{{ localize 'T20.MPPerLevel'}}</div>
			<div style="font-weight: bold; text-align:center">{{ localize 'T20.MPTotal'}}</div>
		</li>
		{{#each classes as |data key|}}
			<li class="flexrow">
				<div>{{data.label}} {{data.niveis}}</div>
				<div style="text-align:center">{{data.pvPorNivel}} + {{../con}}</div>
				<div style="text-align:center">{{data.pvTotal}}</div>
				<div style="text-align:center">{{data.pmPorNivel}}</div>
				<div style="text-align:center">{{data.pmTotal}}</div>
				<input hidden type="text" name="classes.{{data.label}}.pv" value="{{data.pvTotal}}"  data-dtype="Number" />
				<input hidden type="text" name="classes.{{data.label}}.pm" value="{{data.pmTotal}}" data-dtype="Number"/>
			</li>
		{{/each}}
	</ol>
	<h2>{{ localize 'T20.HitPoints'}}</h2>
	<div class="flexrow">
		<label class="checkbox">{{ localize 'T20.Ability'}}:</label>
		{{#each config.atributos as |name prop|}}
			{{#unless (eq prop "con") }}
			<label class="checkbox">
				<input type="checkbox" name="pv.{{prop}}" value="{{name}}" {{checked (lookup ../flags.lvlconfig.pv prop)}} data-dtype="Boolean" /> {{localize name }}
			</label>
			{{/unless}}
		{{/each}}
	</div>
	<div class="flexrow">
		<label class="checkbox">
			{{ localize 'T20.BonusTotal'}}
			<input style="height: 20px; width: 30px;" type="number" step="0.5" name="pvBonus" value="{{flags.lvlconfig.pvBonus.[0]}}" data-dtype="Number" placeholder="0" />
		</label>
		<label class="checkbox">
			{{ localize 'T20.BonusPerLevel'}}
			<input style="height: 20px; width: 30px;" type="number" step="0.5" name="pvBonus" value="{{flags.lvlconfig.pvBonus.[1]}}" data-dtype="Number" placeholder="0" />
		</label>
	</div>
	<h2>{{ localize 'T20.ManaPoints'}}</h2>
	<div class="flexrow">
		<label class="checkbox">{{ localize 'T20.Ability'}}:</label>
		{{#each config.atributos as |name prop|}}
			<label class="checkbox">
				<input type="checkbox" name="pm.{{prop}}" value="{{name}}" {{checked (lookup ../flags.lvlconfig.pm prop)}} data-dtype="Boolean" /> {{localize name }}
			</label>
		{{/each}}
	</div>
	<div class="flexrow">
		<label class="checkbox">
			{{ localize 'T20.BonusTotal'}}
			<input style="height: 20px; width: 30px;" type="number" step="0.5" name="pmBonus" value="{{flags.lvlconfig.pmBonus.[0]}}" data-dtype="Number" placeholder="0" />
		</label>
		<label class="checkbox">
			{{ localize 'T20.BonusPerLevel'}}
			<input style="height: 20px; width: 30px;" type="number" step="0.5" name="pmBonus" value="{{flags.lvlconfig.pmBonus.[1]}}" data-dtype="Number" placeholder="0" />
		</label>
	</div>
	<br />
	<button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize 'T20.Submit'}}</button>
</form>