<form class="{{cssClass}} flexcol" autocomplete="off">
	{{!-- Item Sheet Header --}}
	{{> "systems/tormenta20/templates/item/parts/item-header.html"}}
	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "T20.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "T20.Details" }}</a>
		<a class="item" data-tab="effects">{{ localize "T20.Effects" }}</a>
	</nav>
	
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		{{> "systems/tormenta20/templates/item/parts/item-description.html"}}
		
		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">
			<div class="form-group">
				<label>{{ localize "T20.Type" }}</label>
				<select name="system.tipo">
					{{selectOptions config.spellType selected=item.system.tipo localize=true}}
				</select>
			</div>
			<div class="form-group">
				<label>{{ localize "T20.SpellCircle" }}</label>
				<select name="system.circulo" data-type="Number">
					{{#select item.system.circulo}}
					{{selectOptions config.spellLevels selected=item.system.circulo localize=true}}
					{{/select}}
				</select>
			</div>
			<div class="form-group">
				<label>{{ localize "T20.SpellSchool" }}</label>
				<select name="system.escola">
					{{#select item.system.escola}}
					{{selectOptions config.spellSchools selected=item.system.escola localize=true}}
					{{/select}}
				</select>
			</div>
			
			<hr>
			{{!-- Rolls --}}
			{{> "systems/tormenta20/templates/item/parts/item-rolls.html"}}
			
			<hr>
			<h3>{{ localize "T20.Activation" }}</h3>
			{{> "systems/tormenta20/templates/item/parts/item-ativacao.html"}}
			{{> "systems/tormenta20/templates/item/parts/item-resistencia.html"}}
			
			<hr>
			<div class="form-group">
				<label for="TAGS">TAGS</label>
				<input type="text" name="tag" class="tag-input"><br>
			</div>
			{{#if item.system.tags }}
			<div class="tag-list">
				{{#each item.system.tags as |tag t| }}
				<span class="tag">{{tag}} <a class="tag-delete" data-tag-id="{{t}}">x</a></span>
				{{/each}}
			</div>
			{{/if}}
			{{!-- Chat Message Flavor --}}
			<div class="form-group stacked">
				<label>{{ localize "T20.ChatFlavor" }}</label>
				<textarea name="system.chatFlavor" contenteditable="true">{{item.system.chatFlavor}}</textarea>
			</div>
		</div>
		
		{{!-- Effects Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/tormenta20/templates/partials/active-effects.html"}}
		</div>
	</section>
</form>
